@charset "utf-8";

#header>h1 {
    margin-top: 50px;
    text-align: center;
}

#mainContainer {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}

#mainContainer>form>input {
    margin: auto;
    display: block;
}

#mainContainer>form>button {
    margin: auto;
    display: block;
    margin-top:50px;
}

#login {
    margin-top: 10px;
}